@use "./utilities/reset";
@use "./utilities/mixins" as mixins;

:root {
	--dark-grayish-blue: hsl(227, 10%, 46%);
	--dark-cyan: hsl(185, 75%, 39%);
	--very-dark-desaturated-blue: hsl(229, 23%, 23%);
	--white: hsl(0, 0%, 100%);
	--dark-gray: hsl(0, 0%, 59%);
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-size: 18px;
	font-family: "Kumbh Sans", sans-serif;
	background-color: var(--dark-cyan);
	background-image: url("../img/bg-pattern-top.svg"), url("../img/bg-pattern-bottom.svg");
	background-repeat: no-repeat, no-repeat;
	background-position: right 50vw bottom 50vh, left 50vw top 50vh;
}

.card {
	position: relative;
	background-color: var(--white);
	width: 90%;
	max-width: 380px;
	border-radius: 0.6em;
	text-align: center;
	overflow: hidden;
	z-index: -2;

	&__img {
		background: url("../img/bg-pattern-card.svg");
		height: 15rem;
		z-index: -1;
	}

	&__photo {
		position: absolute;
		left: 50%;
		top: 100px;
		width: 10rem;
		max-width: 120px;
		transform: translateX(-50%);
		border-radius: 50%;
		border: 0.4em solid var(--white);
	}

	&__box {
		padding-top: 4em;

		hr {
			border: none;
			height: 1px;
			background-color: hsla(0, 0%, 59%, 0.3);
		}
	}

	&__name {
		font-size: 1.8rem;
		margin-bottom: 0.3em;

		span {
			font-weight: 400;
			color: var(--dark-gray);
			letter-spacing: 1px;
		}
	}

	&__city {
		margin-bottom: 1.8em;
		font-size: 1.3rem;
		color: var(--dark-gray);
	}

	&__socials {
		padding: 1.5em 2em;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: 2em;
	}

	&__social {
		// margin: 0 1em;
		&-number {
			font-size: 2rem;
			font-weight: bold;
		}
		&-name {
			margin-top: 0.5em;
			font-size: 1rem;
			letter-spacing: 2px;
			color: var(--dark-gray);
		}
	}
}
